.post-container {
    max-width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-bottom: .4px solid rgba(160, 154, 154, 0.644);
}

.user-info-link {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.user-info {
    display: flex;
    align-items: center;
    height: 35px;
}

.userProfilePicture {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 6px;

}

.username {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

.post-content {
    margin-bottom: 0;
    max-width: 100%;
}

.post-content img,
.post-content video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 50;
}

.post-content p {
    padding: 2px;
    margin: 0;
}

/* Like and comment section */

.like-and-comment {
    display: flex;
    align-items: center;
    width: 400px;
    height: 30px;
}

.liking-section button {
    background-color: transparent;
    background-size: cover;
    border: none;
}

.unlike-btn {
    background-image: url(../icons/like.png);
    height: 25px;
    width: 25px;
}

.like-btn {
    background-image: url(../icons/notlike.png);
    height: 25px;
    width: 25px;
}

.comment-form {
    display: flex;
    height: 25px;
    align-items: center;
    margin-left: 5px;
}

.comment-form input {
    height: 25px;
    width: 310px;
    font-family: sans-serif;
    border: none;
}

.comment-form input[type="text"]:focus {
    outline: none;
    border-bottom: .4px solid rgba(160, 154, 154, 0.644);
}

.comment-form input::placeholder {
    font-family: sans-serif;
}

.comment-form button {
    border: none;
    font-family: sans-serif;
    font-weight: 700;
    color: rgba(56, 135, 255, 1);
    background-color: transparent;
    height: 100%;
}

.comment-form button:hover {
    background-color: rgba(129, 125, 125, 0.548);
    border-radius: 7px;
}

/* Comment list section */

.comments-section {
    display: flex;
    flex-direction: column;
}

.toggle-comments-btn {
    border: none;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 9px;
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
    width: 70px;
    margin-bottom: 4px;
    text-align: center;
    padding: 1.5px 0;
    margin-left: 2px;
}

.toggle-comments-btn:hover {
    background-color: rgba(129, 125, 125, 0.548);
}

.cmnt-list {
    display: none;
}

.show-cmnt-list {
    display: block;
    margin: 0;
    padding: 0;
}

.close-cmnt-list {
    margin: 0;
    padding: 0;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.cmnt-content {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}

.cmnt-owner {
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    padding-left: 2px;
}

.cmnt-owner a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}

.delete-comment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: url(../icons/delete.png) no-repeat;
    background-size: contain;
    height: 12px;
    width: 12px;
    background-color: transparent;
}

.delete-comment-btn:hover {
    background-color: rgba(129, 125, 125, 0.548);
    border-radius: 25%;
}