{% extends 'adminbase.html' %}

{% block title %}Admin Logs{% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('utils.staticp', filename='css/adminlogs.css') }}">
{% endblock %}

{% block content %}

  <div class="logs-banner">
    <h1>Interactify event logs</h1>
  </div>

  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="flash-div error">
            <div class="flash-message">
              <img src="{{ url_for('utils.staticp', filename='css/icons/error_flash.png') }}" alt="Flash Error">
              <h5>Error! {{ message }}</h5>
            </div>
            <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        {% elif category == 'success' %}
          <div class="flash-div success">
            <div class="flash-message">
              <img src="{{ url_for('utils.staticp', filename='css/icons/success_flash.png') }}" alt="Flash Error">
              <h5>Success! {{ message }}</h5>
            </div>
            <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        {% elif category == 'warning' %}
          <div class="flash-div warning">
            <div class="flash-message">
              <img src="{{ url_for('utils.staticp', filename='css/icons/warning_flash.png') }}" alt="Flash Error">
              <h5>Warning! {{ message }}</h5>
            </div>
            <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        {% endif %}
      {% endfor %}
    {% endwith %}
  </div>

  <div class="table-div">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Event Description</th>
          <th>Timestamp</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for log_event in log_events %}
          <tr>
            <td>{{ log_event.id }}</td>
            <td>{{ log_event.event_description }}</td>
            <td>{{ log_event.timestamp }}</td>
            <td class="clear-td">
              <form method="post" action="{{ url_for('admin.update_log_event_status', log_event_id=log_event.id, username=username) }}">
                <input type="hidden" name="status" value="True">
                <button type="submit" class="btn-update-status">Clear</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
