{% extends 'adminbase.html' %}

{% block title %}Admin Users{% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('utils.staticp', filename='css/admintotalposts.css') }}">
{% endblock %}

{% block content %}

  <form id="delete-all-form" action="{{ url_for('admin.delete_all_posts') }}" method="post">
    <input type="submit" value="Delete All Posts">
  </form>

  <table>
    <thead>
      <tr>
        <th>Post ID</th>
        <th>Author ID</th>
        <th>Content</th>
        <th>Archive</th>
        <th>Created Datetime</th>
        <th>Updated Datetime</th>
        <th>Delete Post</th>
      </tr>
    </thead>
    <tbody>
      {% for posts in post %}
        <tr>
          <td>{{ posts.id }}</td>
          <td>{{ posts.author_id }}</td>
          <td>{{ posts.content }}</td>
          <td>{{ posts.archive }}</td>
          <td>{{ posts.created_at.strftime("%b %d, %Y: %H:%M") }}</td>
          <td>{{ posts.updated_at.strftime("%b %d, %Y: %H:%M") }}</td>
          <td>
            <form action="{{ url_for('admin.delete_post', post_id=posts.id) }}", method="post">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    document.querySelectorAll('form').forEach(form => {
      form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (confirm('Are you sure you want to delete this post?')) {
          e.target.submit();
        }
      });
    });
  </script>
  <script>
    document.getElementById('delete-all-form').addEventListener('submit', function(event) {
      // Display the first confirmation dialog
      if (!confirm("Are you sure you want to delete all posts? This action is not reversible.")) {
        event.preventDefault(); // Prevent the form submission
      } else {
        // Display the second confirmation dialog
        if (!confirm("By clicking 'Okay', you are confirming the deletion of all posts on this site.")) {
          event.preventDefault(); // Prevent the form submission
        }
      }
    });
  </script>

{% endblock %}
