{% extends 'adminbase.html' %}

{% block title %}Admin Profile{% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('utils.staticp', filename='css/adminprofile.css') }}">
{% endblock %}

{% block content %}

  <div class="profile-banner">
    <h1>{{ username }}'s Profile</h1>
  </div>

  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="flash-div error">
            <div class="flash-message">
              <img src="{{ url_for('utils.staticp', filename='css/icons/error_flash.png') }}" alt="Flash Error">
              <h5>Error! {{ message }}</h5>
            </div>
            <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        {% elif category == 'success' %}
          <div class="flash-div success">
            <div class="flash-message">
              <img src="{{ url_for('utils.staticp', filename='css/icons/success_flash.png') }}" alt="Flash Error">
              <h5>Success! {{ message }}</h5>
            </div>
            <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        {% elif category == 'warning' %}
          <div class="flash-div warning">
            <div class="flash-message">
              <img src="{{ url_for('utils.staticp', filename='css/icons/warning_flash.png') }}" alt="Flash Error">
              <h5>Warning! {{ message }}</h5>
            </div>
            <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
          </div>
        {% endif %}
      {% endfor %}
    {% endwith %}
  </div>

  <div class="theme-box">
    <h2>Theme</h2>
    <form id="themeForm" method="POST" action="{{ url_for('admin.adminupdate_theme', username=username) }}">
      <div class="checkbox-wrapper-34">
        <input class='tgl tgl-ios' id='toggle-34' type='checkbox' {% if a1.theme %}checked{% endif %} name="b2" value="1" onchange="document.getElementById('themeForm').submit()">
        <label class='tgl-btn' for='toggle-34'></label>
      </div>
    </form>
  </div>

  <div class="change-username-div">
    <h2>Change Username</h2>
    <form class="change-username-form" action="{{ url_for('admin.admin_change_username', username=username) }}" method="POST">
      <input type="text" id="usernameInput" name="a2" value="{{ current_user.username }}" placeholder="*Username">
      <input type="submit" id="submitBtnUsername" value="Save" style="display: none;">
    </form>
  </div>

  <div class="change-email-div">
    <h2>Change Email</h2>
    <form class="change-email-form" action="{{ url_for('admin.admin_change_email', username=username) }}" method="POST">
      <input type="email" id="emailInput" name="a2" value="{{ current_user.email }}" placeholder="*Email">
      <input type="submit" id="submitBtnEmail" value="Save" style="display: none;">
    </form>
  </div>
  
  <div class="change-password-div">
    <h2>Change Password</h2>
    <form class="change-password-form" action="{{ url_for('admin.admin_change_password', username=username) }}" method="POST" id="passwordForm">
      <div class="form-inputs-div">
        <input type="password" name="a2" id="current_password" placeholder="*Current password" required>
        <input type="password" name="b2" id="new_password" placeholder="*New password" required>
        <input type="password" name="c2" id="confirm_new_password" placeholder="*Confirm new password" required>
      </div>
      <input type="submit" value="Save" id="submitBtnPassword" style="display: none;" disabled>
    </form>
  </div>

  <div class="change-firstname-div">
    <h2>Change First Name</h2>
    <form class="change-firstname-form" action="{{ url_for('admin.admin_change_firstname', username=username) }}" method="POST">
      <input type="text" id="fnInput" name="a2" value="{{ current_user.first_name }}" placeholder="*First name">
      <input type="submit" id="fnBtn" value="Save" style="display: none;">
    </form>
  </div>

  <div class="change-lastname-div">
    <h2>Change Last Name</h2>
    <form class="change-lastname-form" action="{{ url_for('admin.admin_change_lastname', username=username) }}" method="POST">
      <input type="text" id="lnInput" name="a2" value="{{ current_user.last_name }}" placeholder="*Last name">
      <input type="submit" id="lnBtn" value="Save" style="display: none;">
    </form>
  </div>

  <script src="{{ url_for('utils.staticp', filename='js/savebuttonhide.js') }}"></script>

{% endblock %}