{% extends 'adminbase.html' %}

{% block title %}Admin Users{% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('utils.staticp', filename='css/adminusers.css') }}">
{% endblock %}

{% block content %}

  <form method="POST" action="{{ url_for('admin.adminusers', username=username) }}">
    <input type="text" name="keyword" id="keyword" placeholder="Search for users...">
    <select name="field" id="field">
      {% for column in User.__table__.columns %}
        <option value="{{ column.key }}">{{ column.key }}</option>
      {% endfor %}
    </select>

    <button class="search-btn" type="submit">Search</button>
    <a class="clear-btn" href="{{ url_for('admin.adminusers', username=username) }}"></a>
  </form>

  {% if users %}
    <table>
      <thead>
        <tr>
          {% for column in User.__table__.columns %}
            {% if column.key != 'password' %}
              <th>{{ column.key }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr class="user-row" data-url="{{ url_for('admin.adminedituser', username=username, user_id=user.id) }}">
            {% for column in User.__table__.columns %}
              {% if column.key != 'password' %}
                <td>{{ user[column.key] }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="no-results">No results</p>
  {% endif %}

  <script src="{{ url_for('utils.staticp', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('utils.staticp', filename='js/trclick.js') }}"></script>


{% endblock %}
