<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport", content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('utils.staticp', filename='css/authsignup.css') }}">
</head>
<body>

  <img class="logo" src="{{ url_for('utils.staticp', filename='css/icons/interactify_logo.png') }}" alt="">

  <div class="signup-container">
    <form action="{{ url_for('auth.signup') }}" method="post" enctype="multipart/form-data">
      <input type="text" name="a2" placeholder="Username" required>
      <input type="email" name="b2" placeholder="Email" required>
      <input type="password" name="c2" placeholder="Password" required>
      <input type="password" name="d2" placeholder="Confirm Password" required>
      <input type="text" name="e2" placeholder="First Name" required>
      <input type="text" name="f2" placeholder="Last Name" required>
      <div class="custon-file-input">
        <label for="file-input" class="custom-button">
          <img src="{{ url_for('utils.staticp', filename='css/icons/upload-image.png') }}">
          Choose a Profile Picture
        </label>
        <input type="file" id="file-input" name="g2" accept="image/*" onchange="displayImage()">
      </div>
      <div id="image-container">
        <img id="selected-image">
      </div>
      <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="flash-message error">
                <img src="{{ url_for('utils.staticp', filename='css/icons/error_flash.png') }}" alt="Flash Error">
                <h5>Error! {{ message }}</h5>
              </div>
            {% elif category == 'success' %}
              <div class="flash-message success">
                <img src="{{ url_for('utils.staticp', filename='css/icons/success_flash.png') }}" alt="Flash Error">
                <h5>Success! {{ message }}</h5>
              </div>
            {% elif category == 'warning' %}
              <div class="flash-message warning">
                <img src="{{ url_for('utils.staticp', filename='css/icons/warning_flash.png') }}" alt="Flash Error">
                <h5>Warning! {{ message }}</h5>
              </div>
            {% endif %}
          {% endfor %}
        {% endwith %}
      </div>
      <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account?<a href="{{ url_for('auth.login') }}" >Login</a></p>
  </div>

  <script src="{{ url_for('utils.staticp', filename='js/displayimage.js') }}"></script>

</body>
</html>