<div class="post-container" data-post-id="{{ post.id }}">
  <a class="user-info-link" href="{{ url_for('views.profile', user_id=post.user.id) }}">
    <div class="user-info">
      <img class="userProfilePicture" src="{{ url_for('static', filename=post.user.profile_picture) }}" alt="Profile Picture">
      <h1 class="username">{{ post.user.username }}</h1>
    </div>
    {% if current_user.is_authenticated and current_user.id == post.user.id %}
      <div>
        <form class="delete-post-form" action="{{ url_for('views.delete_post', post_id=post.id) }}" method="POST">
          <button type="submit" class="delete-post-button"></button>
        </form>
      </div>
    {% endif %}
  </a>

  {% if post.post_type == 'image' %}
    <div class="post-content">
      <img src="{{ url_for('userposts', filename=post.post_content) }}" alt="User Post">
    </div>
  {% elif post.post_type == 'video' %}
    <div class="post-content">
      <video width="320" height="240" controls>
        <source src="{{ url_for('static', filename=post.post_content) }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  {% elif post.post_type == 'text' %}
    <div class="post-content">
      <p>{{ post.post_content }}</p>
    </div>
  {% endif %}

  <div class="like-and-comment">

    <div class="liking-section">
      {% if current_user.has_liked(post.id) %}
        <form action="{{ url_for('views.unlike_post', post_id=post.id) }}" method="POST">
          <button type="submit" class="unlike-btn"></button>
        </form>
      {% else %}
        <form action="{{ url_for('views.like_post', post_id=post.id) }}" method="POST">
          <button type="submit" class="like-btn"></button>
        </form>
      {% endif %} 
    </div>

    <div class="post-comment-section">
      <form class="comment-form" action="{{ url_for('views.submit_comment', post_id=post.id) }}" method="POST">
        <input type="text" name="comment_content" placeholder="Add a comment...">
        <button type="submit">Share</button>
      </form>
    </div>

  </div>

  <div class="like-count-section">
    <p>{{ post.like_count() }} Likes</p>
  </div>

  <div class="comments-section">
    <button onclick="viewComments(this)" class="toggle-comments-btn">Comments</button>
    <ul class="cmnt-list">
      {% for comment in post.comments %}
        <li class="comment child-cmnt">
          <p class="cmnt-content child-cmnt">
            <strong class="cmnt-owner child-cmnt"><a href="{{ url_for('views.profile', user_id=comment.user.id) }}">{{ comment.user.username }}</a>:</strong> {{ comment.comment_content }}
          </p>
          {% if comment.author_id == current_user.id or post.user.id == current_user.id %}
            <form class="delete-comment-form child-cmnt" action="{{ url_for('views.delete_comment', comment_id=comment.id) }}" method="POST">
              <button type="submit" class="delete-comment-btn child-cmnt"></button>
            </form>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/post_container.js') }}"></script>
</div>
