{% extends 'userbase.html' %}

{% block title %}User Search{% endblock %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('utils.staticp', filename='css/usersearch.css') }}">
{% endblock %}

{% block content %}

  <form class="header-form" method="post" action="{{ url_for('user.usersearch', username=username) }}">
    <input type="text" name="search_term" id="search_term" placeholder="Lets find someone..." required>
    <button type="submit" id="search_button" style="display: none;">Search</button>
  </form>

  <div class="content-container">
    <div class="flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="flash-div error">
              <div class="flash-message">
                <img src="{{ url_for('utils.staticp', filename='css/icons/error_flash.png') }}" alt="Flash Error">
                <h5>Error! {{ message }}</h5>
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
          {% elif category == 'success' %}
            <div class="flash-div success">
              <div class="flash-message">
                <img src="{{ url_for('utils.staticp', filename='css/icons/success_flash.png') }}" alt="Flash Error">
                <h5>Success! {{ message }}</h5>
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
          {% elif category == 'warning' %}
            <div class="flash-div warning">
              <div class="flash-message">
                <img src="{{ url_for('utils.staticp', filename='css/icons/warning_flash.png') }}" alt="Flash Error">
                <h5>Warning! {{ message }}</h5>
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </div>
    {% if users %}
      <ul class="results-ul">
        {% for user in users %}
          <li class="single-user">
            <a href="{{ url_for('user.userprofile', username=user.username) }}">
              {% if user.profile_picture %}
                <img src="{{ url_for('static', filename=user.profile_picture) }}" alt="Profile Picture">
              {% else %}
                <img class="logo" src="{{ url_for('utils.staticp', filename='css/icons/default_profile_picture.png') }}" alt="Default Profile Picture">
              {% endif %}
              <h3>{{ user.username }}</h3>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <script src="{{ url_for('utils.staticp', filename='js/searchshow.js') }}"></script>

{% endblock %}
