<!DOCTYPE html>
<html>
<head>
    <title>NavBar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<body>
<div class="navbar">
    <a href="{{ url_for('views.home') }}" class="icon" id="home-icon"></a>
    <a href="{{ url_for('views.search') }}" class="icon" id="search-icon"></a>
    <a href="{{ url_for('views.post') }}" class="icon" id="post-icon"></a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('views.profile', user_id=current_user.id) }}" class="icon" id="profile-icon"></a>
    {% else %}
        <a href="{{ url_for('views.profile') }}">Profile</a>
    {% endif %}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>