:root {
    --bg-color: rgb(255, 255, 255);
    --search-bg: rgb(211, 211, 211);
    --bg-contrast: rgb(0, 0, 0);
    --head-shad: rgba(0, 0, 0, 0.384);
    --table-br: rgba(167, 167, 167, 0.384);
    --bg-clear: rgba(36, 36, 36, 0.384);
    --bg-error: rgba(255, 0, 0, 0.479);
    --text-error: rgb(102, 0, 0);
    --bg-warning: rgba(255, 160, 0, 0.479);
    --text-warning: rgb(160, 109, 0);
    --bg-success: rgba(102, 255, 0, 0.479);
    --text-success: rgb(59, 160, 0);
}
body.dark-mode {
    --bg-color: rgb(43, 43, 43);
    --search-bg: rgb(15, 15, 15);
    --bg-contrast: rgb(255, 255, 255);
    --head-shad: rgba(255, 255, 255, 0.384);
    --table-br: rgba(19, 19, 19, 0.384);
    --bg-clear: rgba(0, 0, 0, 0.384);
    --bg-error: rgba(252, 95, 95, 0.589);
    --text-error: rgb(255, 171, 171);
    --bg-warning: rgba(252, 189, 95, 0.589);
    --text-warning: rgb(255, 228, 171);
    --bg-success: rgba(139, 252, 95, 0.589);
    --text-success: rgb(209, 255, 171);
}
.edit-user-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    box-shadow: 0 0 10px var(--head-shad);
}
.edit-user-banner h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--bg-contrast);
    margin: 0;
    min-width: 330px;
}
.edit-user-div {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
}
.edit-user-usrnm,
.edit-user-pass,
.edit-user-auth,
.edit-user-stat {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}
.edit-user-usrnm h2,
.edit-user-pass h2,
.edit-user-auth h2,
.edit-user-stat h2 {
    margin: 0 0 0 7px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: var(--bg-contrast);
}
.edit-user-usrnm form,
.edit-user-pass form,
.edit-user-auth form,
.edit-user-stat form {
    display: flex;
    margin: 0 0 0 20px;
    align-items: last baseline;
}
input[type="text"],
input[type="password"] {
    width: 270px;
    height: 30px;
}
select {
    width: 274px;
    height: 33px;
}
input[type="text"],
input[type="password"],
select {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--bg-contrast);
    font-family: sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: var(--bg-contrast);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: var(--bg-contrast);
}
input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder {
    color: rgb(56, 136, 255);
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid rgb(56, 136, 255);
}
option {
    background-color: var(--bg-color);
}
input[type="submit"] {
    margin: 0 0 0 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: rgb(56, 136, 255);
    border-radius: 13px;
    padding: 2px 9px;
}
input[type="submit"]:hover {
    background-color: var(--table-br);
}
.flash-container {
    width: 100%;
}
.flash-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flash-message {
    display: flex;
    align-items: center;
}
.flash-message img {
    width: 25px;
    height: 25px;
    margin: 6px 0 6px 4px;
}
.flash-message h5 {
    margin: 6px 23px 6px 3px;
    font-family: sans-serif;
    font-size: 16px;
}
.flash-div .close-btn {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 15px 0 0;
}
.error {
    background-color: var(--bg-error);
    color: var(--text-error);
}
.warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}
.success {
    background-color: var(--bg-success);
    color: var(--text-success);
}