:root {
    --bg-color: rgb(255, 255, 255);
    --bg-contrast: rgb(0, 0, 0);
    --head-shad: rgba(0, 0, 0, 0.384);
    --follow-btn: rgb(223, 223, 223);
    --cmnt-plhldr: rgba(87, 87, 87, 0.8);
    --delete-icon: url('icons/deleteblack.png');
    --menu-icon: url('icons/menublack.png');
    --back-icon: url('icons/backblack.png');
}
body.dark-mode {
    --bg-color: rgb(0, 0, 0);
    --bg-contrast: rgb(255, 255, 255);
    --head-shad: rgba(255, 255, 255, 0.384);
    --follow-btn: rgb(43, 43, 43);
    --cmnt-plhldr: rgba(250, 250, 250, 0.8);
    --delete-icon: url('icons/deletewhite.png');
    --menu-icon: url('icons/menuwhite.png');
    --back-icon: url('icons/backwhite.png');
}
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-header {
    display: flex;
    align-items: center;
}
.sub-header a {
    text-decoration: none;
    background-image: var(--back-icon);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px;
    width: 40px;
    height: 40px;
    margin: 0 0 0 2px;
}
.sub-header h1 {
    margin: 0 0 0 8px;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: var(--bg-contrast);
    max-width: 270px;
    overflow: hidden;
}
.profile-header .menu-btn {
    background-image: var(--menu-icon);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px;
    width: 40px;
    height: 40px;
}
.profile-stats {
    display: flex;
    flex-direction: column;
}
.stats1 {
    display: flex;
    height: 105px;
}
.stats1 p {
    margin: 0;
}
.stats1 .profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 110px;
    max-width: 165px;
}
.profile-pic img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 0 0 8px;
}
.info-div {
    display: flex;
    justify-content: space-around;
    width: 70%;
    min-width: 188px;
    max-width: 380px;
}
.info-div .followers-div,
.info-div .following-div,
.info-div .post-count-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;

}
.info-div a,
.info-div .post-count-div p {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: var(--bg-contrast);
}
.stats2 {
    display: flex;
}
.stats2 .follow-btn {
    border: none;
    margin: 0 0 0 8px;
    width: 110px;
    height: 30px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 600;
}
.stats2 .unfollow {
    background-color: var(--follow-btn);
    color: rgb(69, 201, 52);
}
.stats2 .follow {
    background-color: rgb(56, 136, 255);
    color: rgb(255, 255, 255);
}









.post-wrapper {
    margin: 0;
}
.main-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.single-post {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-header a {
    display: flex;
    align-items: center;
    height: 45px;
    border: none;
    text-decoration: none;
}
.post-header h4 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: var(--bg-contrast);
}
.post-header a img {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    margin: 0 9px 0 6px;
    border: 1px solid var(--bg-contrast);
}
.delete-post-btn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    background-image: var(--delete-icon);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px;
}
.post-media {
    overflow: hidden;
}
.post-media ul {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}
.post-media li {
    width: 100%;
}
.post-media ul li img,
.post-media ul li video {
    width: 100%;
}
.likes-container {
    display: flex;
    align-items: center;
}
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.like-icon {
    height: 25px;
    width: 25px;
}
.likes-container p {
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    color: var(--bg-contrast);
    padding: 0 0 0 3px;
}
.main-comment {
    margin: 0 4px 0 4px;
    font-family: sans-serif;
    color: var(--bg-contrast);
    max-height: 48px;
    overflow: scroll;
}
.main-comment a {
    margin: 0 0 0 5px;
    text-decoration: none;
    font-family: sans-serif;
    color: var(--bg-contrast);
    font-weight: 600;
}
.comments-container form {
    display: flex;
    align-items: center;
    margin: 0 5px 0 5px;
    height: 38px;
    overflow: hidden;
}
.comments-container form input {
    width: 85%;
    outline: none;
    border: none;
    padding: 0 5px 0 5px;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 16px;
    color: var(--bg-contrast);
}
.comments-container form input::placeholder {
    color: var(--cmnt-plhldr);
}
.comments-container form button {
    width: 15%;
    background-color: rgb(56, 136, 255);
    border: none;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 27px;
}
.comments-container ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.comments-container ul li {
    list-style: none;
    margin: 0 5px 0 5px;
}
.add-comments {
    margin: 0 4px 0 4px;
    font-family: sans-serif;
    color: var(--bg-contrast);
    max-height: 48px;
    overflow: scroll;
}
.add-comments a {
    margin: 0 0 0 5px;
    text-decoration: none;
    font-family: sans-serif;
    color: var(--bg-contrast);
    font-weight: 600;
}